---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import {Image} from "astro:assets";
import banner from "../assets/banner.svg"
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<Image src={banner} alt="Alrevolutum banner" />
			<p>
				So...you have stumbled upon this website or maybe I sent you a link and then you decided to dig a little bit deeper.
			</p>
			<p>
				I am Alvaro, a software engineer and tech enthusiast. I love TTRPGs, videogames, board games and being outside (extra points for cycling and water sports!).
			</p>
			<p>
				This is where aim to put all my brain dumps and things that I find interesting and might want to share with people at some point. Plus I am a techie and this is a good excuse to have a website again!
			</p>
			<p>
				It is all public and on Github, so if you want to have a peek at the source code you are more than welcome to do so!
			</p>
		</main>
		<Footer />
	</body>
</html>
